{{#with item}}
<div id="post-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            <div class="content">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <span class="icon">
                                <!-- <img src="images/Logo-filler.png" class="image is-32x32"> -->
                            </span>
                                <p>{{contents}}</p>
                                <p>{{user.username}}</p>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            <p></p>
                        </div>
                    </div>
                    <div class="is-flex">
                        <a href="#" class="card-footer-item">Like</a>
                        <a href="#" class="card-footer-item">Dislike</a>
                    </div>
                </div>
                <div>
                    {{#each post}}
                    <p class="pl-2 ">{{comment.contents}}</p>
                    {{/each}}
                </div>
        </section>
    </div>
</div>
{{/with}}