

{{!progress bar to show user is on line and viewing their dashboard}}
<h1 class="title" style="color:white">Welcome to your Dashboard!</h1>
<h2 class="subtitle" style="color:white">You are Online </h2>
<progress class="progress is-small is-primary" max="100">15%</progress>

<p>{{user.username}}</p>
