<div class= "dog_content card">
    <span class="created_date">{{formatDate createdAt}}</span>
    <h2 class="dog_title">Today's random dogs</h2>
    <hr>
    <img class="dog_image" src="{{item.message}}"></img>
</div>