{{#with item}}
<div class="content">
  <span class="icon">
      <img src="../public/Logo-filler.png" class="image is-32x32">
  </span>
  <p>{{contents}}</p>
  <p>{{user.username}}</p>
  <br>
</div>
{{/with}}