{{!-- Navigation bar --}}
<nav class="navbar has-background-primary is-flex is-justify-content-space-evenly" role="navigation" aria-label="main navigation">
    <div>
        <a href="/"><img src="/images/sz.jpeg" class="logo image"></a>
    </div>

    <div class="navbar-item is-hoverable mt-1" id="navbar">
      <div id="trapezoid">
          <a class="sub-home" href="/">Home</a>
          <a class="expandHome" href="/dashboard">Dashboard</a>
         
          {{#if loggedIn}}
           <a class="subnavbtn" href="/notifications">Notifications
          {{#if notificationCount}}
            ({{notificationCount}})
          {{/if}}
          </a>
          <a class="js-modal-trigger subnavbtn" data-target="new-post" id="create-post">New Post</a>
          <a class="js-modal-trigger expandHome subnavbtn" data-target="sign-in" href="/logout">Logout</a>
          {{else}}
          <a class="js-modal-trigger expandHome subnavbtn" data-target="sign-in" id="loginLink">Login</a>
          {{/if}}
      </div>
    </div>
</nav>

{{!-- Log-in form --}}
<div id="sign-in" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head sign-in">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body sign-in">

    {{!-- Log-in Username --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Username" id="username-login">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>

    {{!-- Log-in Password --}}
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-login">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
        </div>
    </section>

    {{!-- Log-in footer --}}
    <footer class="modal-card-foot sign-in">
      <button class="button is-success btn" id="login-submit">Submit</button>
      <button class="button js-modal-trigger btn" data-target="sign-up" id="signupLink">Sign-up</button>
    </footer>
  </div>
</div>

{{!-- Sign-up form --}}
<div id="sign-up" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head sign-up">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close"></button>
    </header>

    {{!-- Sign-up body --}}
    <section class="modal-card-body sign-up">

        {{!-- First name --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="name" placeholder="first name" id="first-name-signup">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>

        {{!-- Last name --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="name" placeholder="last name" id="last-name-signup">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>

      {{!-- Username --}}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="name" placeholder="username" id="username-signup">
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
          </p>
        </div>

      {{!-- Email --}}
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="email" placeholder="email" id="email-signup">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
        </div>

      {{!-- Password --}}
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-signup">
            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
          </p>
        </div>

    </section>

    {{!-- Submit button --}}
    <footer class="modal-card-foot submit_btn sign-up">
      <a class="button is-success btn" id="signup-submit">Submit</a>
    </footer>

  </div>
</div>

{{!-- New Post --}}
<div id="new-post" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <textarea class="textarea" placeholder="10 lines of textarea" rows="10" id="newpost-text"></textarea>
    </section>

    {{!-- New post footer --}}
    <footer class="modal-card-foot">
      <button class="button is-success btn" id="newpost-submit">Submit</button>
    </footer>

  </div>
</div>
