    <nav class="navbar has-background-primary is-flex is-justify-content-space-evenly" role="navigation" aria-label="main navigation">
        <div>
            <img src="images/sz.jpeg" class="logo image">
        </div>
        <div class="navbar-item is-hoverable mt-1" id="navbar">
         <div id="trapezoid">
            <a class="sub-home" href="/main">Home</a>
            <a class="expandHome" href="/dashboard">Dashboard</a>
            <a class="subnavbtn" href="/notifications">Notifications
            {{#if notificationCount}}
              ({{notificationCount}})
            {{/if}}
            </a>
            {{#if loggedIn}}
            <a class="js-modal-trigger subnavbtn" data-target="new-post" id="create-post">New Post</a>
            <a class="js-modal-trigger expandHome subnavbtn" data-target="sign-in" href="/logout">Logout</a>
            {{else}}
            <a class="js-modal-trigger expandHome subnavbtn" data-target="sign-in" id="loginLink">Login</a>
            {{/if}}
            </div>
        </div>
    </nav>
        <div id="new-post" class="modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title"></p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <textarea class="textarea" placeholder="10 lines of textarea" rows="10" id="newpost-text"></textarea>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" id="newpost-submit">submit</button>
            </footer>
          </div>
        </div>

    <div id="sign-in" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Username" id="username-login">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="password-login">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id="login-submit">submit</button>
            <button class="button js-modal-trigger" data-target="sign-up" id="signupLink">sign-up</button>
          </footer>
        </div>
      </div>
      <div id="sign-up" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title"></p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="name" placeholder="first name" id="first-name-signup">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
                          <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="name" placeholder="last name" id="last-name-signup">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
                          <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="name" placeholder="username" id="username-signup">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="email" placeholder="email" id="email-signup">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="password-signup">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success" id="signup-submit">submit</a>
          </footer>
        </div>
      </div>
