<div id="feed" class="mx-6">
    {{#each posts}}
    <div class="card">
        <div class="card-content">
            <div class="content">
                <span class="icon">
                    <img src="../public/Logo-filler.png" class="image is-32x32">
                </span>
                <p>{{post.contents}}</p>
                <p>{{user.username}}</p>
                <br>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item js-modal-trigger" data-target="static-modal">Comment</a>
            <a href="#" class="card-footer-item">Like</a>
            <a href="#" class="card-footer-item">Dislike</a>
        </footer>
    </div>
</div>