{{> navbar}}

<div class="menu">
  <header class="card-header">
    <p class="card-header-title">
     {{#each notifications as |notification|}}
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

  <div class="card-content" style="color:aliceblue" >
    <div class="content">
 
      {{#if notification.comment }}
       <p>{{notification.comment.user.username}} commented: "{{notification.comment.contents}}"</p>
    {{/if}}

        {{#if notification.reaction }}
      <p>{{notification.reaction.user.username}}  {{notification.reaction.type}} your post</p>
        {{/if}}
      
    </div>
  </div>


  </div>
  {{/each}}

















